# 
# ДЛЯ ТОГО, ЧТОБЫ ДАННЫЕ ВНУТРИ ТАБЛИЦЫ СОХРАНЯЛИСЬ ВЫПОЛНИТЕ docker-compose down и только потом docker-compose up --build
# 

services:
  postgres:
    container_name: postgres_bd
    image: postgres:16-alpine3.18
    command:
      - "postgres"
      - "-c"
      - "max_connections=50"
      - "-c"
      - "shared_buffers=1GB"
      - "-c"
      - "effective_cache_size=4GB"
      - "-c"
      - "work_mem=16MB"
      - "-c"
      - "maintenance_work_mem=512MB"
      - "-c"
      - "random_page_cost=1.1"
      - "-c"
      - "temp_file_limit=10GB"
      - "-c"
      - "log_min_duration_statement=200ms"
      - "-c"
      - "idle_in_transaction_session_timeout=10s"
      - "-c"
      - "lock_timeout=1s"
      - "-c"
      - "statement_timeout=60s"
      - "-c"
      - "shared_preload_libraries=pg_stat_statements"
      - "-c"
      - "pg_stat_statements.max=10000"
      - "-c"
      - "pg_stat_statements.track=all"
    environment:
      POSTGRES_DB: "RTK_DB"
      POSTGRES_USER: "NV"
      POSTGRES_PASSWORD: "NVCASE2"
      PGDATA: "/var/lib/postgresql/data/pgdata"
    volumes:
      - ./initdb:/docker-entrypoint-initdb.d
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U NV -d RTK_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 4G
    networks:
      - app-network

  pgadmin:
    container_name: pgadmin_bd
    image: dpage/pgadmin4:9.10
    environment:
      PGADMIN_DEFAULT_EMAIL: "aigizCLOWN@example.com"
      PGADMIN_DEFAULT_PASSWORD: "NVCASE2"
      PGADMIN_CONFIG_SERVER_MODE: "False"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    ports:
      - "5050:80"
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 1G
    networks:
      - app-network

  web:
    build: .
    container_name: skills_assessment_app
    environment:
      DATABASE_URL: postgresql://NV:NVCASE2@postgres:5432/RTK_DB
      FLASK_APP: run.py
      FLASK_ENV: development
      FLASK_DEBUG: 1

    volumes:
      - .:/app
      - ./migrations:/app/migrations
    ports:
      - "5000:5000"
    depends_on:
      postgres:
        condition: service_healthy
    command: >
      sh -c "echo 'Waiting for database...' &&
              sleep 5 &&
              if flask db init ; then
                echo 'Migration not found' &&
                flask db migrate -m 'Initial migrate' &&
                flask db upgrade &&
                flask db stamp head &&
                flask run --host=0.0.0.0
              else
                echo 'Migration exists'
                flask run --host=0.0.0.0
              fi"
    restart: unless-stopped
    networks:
      - app-network

volumes:
  postgres_data: {}
  pgadmin-data: {}

networks:
  app-network:
    driver: bridge
